@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

body {
    font-family: "Roboto Slab";
}

.article {
    width: 50%;
    margin: auto;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
}

.img {
    width: 35%;
    float: right;
    margin-left: 15px;
}
.heading {
    color: #289599;
}
.sub-heading {
    color: #999999; /*#999999 = #999 as there are set of 2 numbers and if both numbers are same then we can write it as a single number*/
}
.paragraph {
    color: #88de;
}

@media screen and (max-width: 414px) {
    .article {
        width: 100%;
        padding: 0;
    }
    .img {
        width:100%
    }
}

@media screen and (min-width:415px) (max-width: 1024px) {
    .article {
        width: 80%;
        padding: 0;
    }
    .img {
        width:40%
    }
}